*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  .rl-container{
    min-height: 100vh;
  }
  .container-login{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(45deg, #041723, #0f051c)
  }
  .cards{
    width: 350px;
    padding: 10px;
    background-color: #fff;
  }
  .cards input{
    width:100%;
    margin-bottom: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid #000000;
    font-size: 1.2em;
    padding: 8px;
    margin-top: 5px;
    background-color: transparent;
    color: #000000;
  }
  .cards input::placeholder{
    color: #302e2e;
  }
  .cards label{
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    font-weight: bolder;
  }
  .cards button{
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    color: #fff;
    background-color: rgb(133, 0, 0);
    border-radius: 5px;
    cursor: pointer;
  }



  nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: end;
    align-items: center;
  }
 
  nav a{
    font-size: 1.3em;
    color: #041723;
  
  }
  a{
    text-decoration: none;
  }
  .home{
    min-height: 100vh;
    height: fit-content;
    background-color: #041723;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10%;
    flex-flow: wrap;
    position: relative;
  }

  .home h1{
    font-size: 4em;
  }
  .wrapper-text, .wrapper-image{
    flex: 1;
  }
  @media (max-width:768px){
    .home{
      flex-direction: column;
      gap: 20px;
    }
    .home h1{
      font-size: 2.4em;
    }
    nav, nav ul{
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }
    nav ul{
      align-items: center;
      width: 100%;
    }
  }
  .wrapper-image img{
    width: 100%;
  }
  .home button{
    border: none;
    padding: 20px 60px;
    font-size: 1.2em;
    color: #fff;
    background-color: #0d4f78;
    margin-top: 30px;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.5s;
  }
  .home button:hover{
    background-color: #0f051c;
  }
  .home::after{
    content: "";
    position: absolute;
    width: 5%;
    height: 30%;
    border-radius: 100px;
    background-color: #fff;
    top: 20px;
    left: -30px;
  }
  .posts{
    display: flex;
    min-height: 100vh;
    gap: 20px;
    flex-flow: row wrap;
    width: 100%;
    padding: 10px;
    background-color: #000000;
  }
  .item{
    max-width: 200px;
    padding: 10px;
    background: #1d054363;
    color: #fff;
  }
  .item h3{
    color: #bc5de1;
    margin-bottom: 10px;
  }