
body{
    margin: auto;
}.zIndex{
    background-color: rgb(0, 0, 0);
    width:500px;
    height: 400px;
    position: relative;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    font-size: 1.1em;
    margin:100px;
    border-radius: 20px;
    margin-left: 30%;
}
.zIndex>.first{
    background-color: rgb(11, 152, 1);
    width:300px;
    height: 300px;
    position: absolute;
    top:10px;
    left:10px;
    border-radius: 30px;
    opacity: 0.3;
}
.zIndex>.second{
    background-color: rgb(138, 0, 184);
    width:300px;
    height: 300px;
    position: absolute;
    top:50px;
    left:50px;
    border-radius: 30px;
    opacity: 0.6;
}
.zIndex>.third{
    background-color: rgb(199, 0, 50);
    width:300px;
    height: 300px;
    position: absolute;
    top:100px;
    left:100px;
    border-radius: 30px;
}
.zIndex>.first:hover{
    z-index: 4;
    opacity: 1;
}
.zIndex>.second:hover{
    z-index: 4;
    opacity: 1;
}
.zIndex>.third:hover{
    z-index: -2;
}